.profileCard{
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  background-color: white;

  .profileImages{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img:nth-of-type(1){
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    img:nth-of-type(2){
      width: 4rem;
      border-radius: 50%;
      position: absolute;
      object-fit: cover;
      bottom: -2rem;
      box-shadow: var(--profileShadow);
    }  
  }
  .profileName{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 2rem;
    background-color: white;

    span:nth-of-type(1){
      font-weight:bold
    }
    span:nth-of-type(2){
      color: gray;
    }
  }

  .numbers{
    display: flex;
    gap: 4px;
    padding: 0 20px 9px 20px;

    .followers{
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-right: 4px;

      p:nth-of-type(1){
        font-weight: bold;
      }
      p:nth-of-type(2){
        font-size: 13px;
        color: gray;
      }
    }
    .following{
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;

      p:nth-of-type(1){
        font-weight: bold;
      }

      p:nth-of-type(2){
        font-size: 13px;
        color: gray;
      }
      margin-left: 4px;
    }
  }

  .Userstatus{
    color: var(--orange);
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
  }

}
